<div class="row">
<div class="col-md-6 col-md-offset-3">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
	<%= form_tag '/messages/validate' do %>    
    <div class="row">
    	<h4 class="center"><%=label_tag 'password' %></h4>
	    <div class="col-md-8">
	    <%=password_field_tag 'password' %>
	    <%= hidden_field_tag :key , params[:key] %>
	    </div>
	    <div class="col-md-4"><%= submit_tag 'View' %></div>
  	</div>
  <% end %>

</div>
</div>