<div class="row">
<div class="col-md-6 col-md-offset-3">  
	<%= form_tag '/messages/validate' do %>    
    <div class="row">
    	<h4 class="center"><%=label_tag 'This message is password-protected:' %></h4>
	    <div class="col-md-8">
	    <%=password_field_tag 'Password', nil, autocomplete: "off", placeholder: " Password" %>
	    <%= hidden_field_tag :key , params[:key] %>
	    </div>
	    <div class="col-md-4"><%= submit_tag 'View' %></div>
  	</div>
  <% end %>

</div>
</div>